<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <div style="display: flex;justify-content: center;align-items: center;">
        <h1>Make a New Comment</h1>
    </div>

    <form action="/comments" method="post">
        <label for="username">Enter your Username : </label>
        <input type="text" id="username" placeholder="username" name="username">
        <br>
        <br>
        <label for="comment">Enter your Comment below : </label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Enter comment here..."></textarea>
        <br><br><br><br>
        <button type="submit">Submit</button>
    </form>

    <button onclick="location.href='/comments'">Return to Home Page</button>
</body>

</html>