<%- include('partials/head') %> 

    <%- include('partials/navbar') %> 

    <div style="display: flex;justify-content: center;align-items: center;">
        <h1 style="background-color: blueviolet;color:crimson">The Home Page</h1>
    </div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam dolore quos ad minus provident cum numquam
            veritatis, atque earum error dolor. Pariatur eius commodi facilis sed necessitatibus ipsum, beatae quisquam?
            Enim, iusto, quibusdam quasi tempora laudantium voluptate et mollitia fugit harum qui aliquid accusamus hic
            sit optio sint nihil beatae, at voluptates maiores possimus ex eos cupiditate nobis. Perspiciatis, ratione.
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates repellat odit totam, suscipit id
            facilis nesciunt veniam aperiam eligendi, voluptatum ut et expedita rerum harum doloremque minima nostrum.
            Repellendus, deserunt!
            Temporibus in odit fuga quibusdam culpa quasi facilis, necessitatibus voluptatum impedit porro unde
            adipisci? Corrupti sequi laudantium recusandae doloremque illum earum, explicabo unde quam necessitatibus,
            accusamus adipisci voluptas mollitia quis.
        </p>
    
    <%- include('partials/footer') %>